schema/emigrantLettersPersonography.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.tei-c.org/ns/1.0">
  <!--
Schema generated from ODD source 2013-07-21T09:40:50Z. 
Edition: 2.3.0. Last updated on 17th January 2013.
Edition Location: http://www.tei-c.org/Vault/P5/2.3.0/

-->
  <!---->
  <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>
  <define name="tei_macro.paraContent">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="tei_model.gLike"/>
        <ref name="tei_model.phrase"/>
        <ref name="tei_model.inter"/>
        <ref name="tei_model.global"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="tei_macro.phraseSeq">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="tei_model.gLike"/>
        <ref name="tei_model.phrase"/>
        <ref name="tei_model.global"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="tei_macro.specialPara">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="tei_model.gLike"/>
        <ref name="tei_model.phrase"/>
        <ref name="tei_model.inter"/>
        <ref name="tei_model.divPart"/>
        <ref name="tei_model.global"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="tei_data.certainty">
    <choice>
      <value>high</value>
      <value>medium</value>
      <value>low</value>
      <value>unknown</value>
    </choice>
  </define>
  <define name="tei_data.probability">
    <data type="double">
      <param name="minInclusive">0</param>
      <param name="maxInclusive">1</param>
    </data>
  </define>
  <define name="tei_data.numeric">
    <choice>
      <data type="double"/>
      <data type="token">
        <param name="pattern">(\-?[\d]+/\-?[\d]+)</param>
      </data>
      <data type="decimal"/>
    </choice>
  </define>
  <define name="tei_data.count">
    <data type="nonNegativeInteger"/>
  </define>
  <define name="tei_data.temporal.w3c">
    <choice>
      <data type="date"/>
      <data type="gYear"/>
      <data type="gMonth"/>
      <data type="gDay"/>
      <data type="gYearMonth"/>
      <data type="gMonthDay"/>
      <data type="time"/>
      <data type="dateTime"/>
    </choice>
  </define>
  <define name="tei_data.truthValue">
    <data type="boolean"/>
  </define>
  <define name="tei_data.xTruthValue">
    <choice>
      <data type="boolean"/>
      <value>unknown</value>
      <value>inapplicable</value>
    </choice>
  </define>
  <define name="tei_data.language">
    <data type="language"/>
  </define>
  <define name="tei_data.sex">
    <choice>
      <value>0</value>
      <value>1</value>
      <value>2</value>
      <value>9</value>
    </choice>
  </define>
  <define name="tei_data.pointer">
    <data type="anyURI"/>
  </define>
  <define name="tei_data.word">
    <data type="token">
      <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
    </data>
  </define>
  <define name="tei_data.text">
    <data type="string"/>
  </define>
  <define name="tei_data.name">
    <data type="Name"/>
  </define>
  <define name="tei_data.enumerated">
    <ref name="tei_data.name"/>
  </define>
  <define name="tei_data.temporal.iso">
    <choice>
      <data type="date"/>
      <data type="gYear"/>
      <data type="gMonth"/>
      <data type="gDay"/>
      <data type="gYearMonth"/>
      <data type="gMonthDay"/>
      <data type="time"/>
      <data type="dateTime"/>
      <data type="token">
        <param name="pattern">[0-9.,DHMPRSTWYZ/:+\-]+</param>
      </data>
    </choice>
  </define>
  <define name="tei_id.person.pattern">
    <data type="string">
      <param name="pattern">LOUGHPers_\d{4}</param>
    </data>
  </define>
  <define name="tei_id.place.pattern">
    <data type="string">
      <param name="pattern">LOUGHPlace_\d{4}</param>
    </data>
  </define>
  <define name="tei_att.canonical.attributes">
    <ref name="tei_att.canonical.attribute.key"/>
    <ref name="tei_att.canonical.attribute.ref"/>
  </define>
  <define name="tei_att.canonical.attribute.key">
    <optional>
      <attribute name="key">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides an externally-defined means of identifying the entity (or entities) being
        named, using a coded value of some kind.</a:documentation>
        <ref name="tei_data.text"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.canonical.attribute.ref">
    <optional>
      <attribute name="ref">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(reference) provides an explicit means of locating a full definition for the entity being named by
        means of one or more URIs.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="tei_data.pointer"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.ranging.attributes">
    <ref name="tei_att.ranging.attribute.atLeast"/>
    <ref name="tei_att.ranging.attribute.atMost"/>
    <ref name="tei_att.ranging.attribute.min"/>
    <ref name="tei_att.ranging.attribute.max"/>
    <ref name="tei_att.ranging.attribute.confidence"/>
  </define>
  <define name="tei_att.ranging.attribute.atLeast">
    <optional>
      <attribute name="atLeast">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives a minimum estimated value for the approximate measurement.</a:documentation>
        <ref name="tei_data.numeric"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.ranging.attribute.atMost">
    <optional>
      <attribute name="atMost">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives a maximum estimated value for the approximate measurement.</a:documentation>
        <ref name="tei_data.numeric"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.ranging.attribute.min">
    <optional>
      <attribute name="min">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">where the measurement summarizes more than one observation
      or a range, supplies the minimum value
        observed.</a:documentation>
        <ref name="tei_data.numeric"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.ranging.attribute.max">
    <optional>
      <attribute name="max">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">where the measurement summarizes more than one observation
        or a range, supplies the maximum value
        observed.</a:documentation>
        <ref name="tei_data.numeric"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.ranging.attribute.confidence">
    <optional>
      <attribute name="confidence">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the degree of statistical confidence (between zero and one) that a value falls within the range
        specified by min and max, or the proportion of observed values that fall within that range.</a:documentation>
        <ref name="tei_data.probability"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.dimensions.attributes">
    <ref name="tei_att.ranging.attributes"/>
    <ref name="tei_att.dimensions.attribute.unit"/>
    <ref name="tei_att.dimensions.attribute.quantity"/>
    <ref name="tei_att.dimensions.attribute.extent"/>
    <ref name="tei_att.dimensions.attribute.precision"/>
    <ref name="tei_att.dimensions.attribute.scope"/>
  </define>
  <define name="tei_att.dimensions.attribute.unit">
    <optional>
      <attribute name="unit">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">names the unit used for the measurement
Suggested values include: 1] cm(centimetres) ; 2] mm(millimetres) ; 3] in(inches) ; 4] lines; 5] chars(characters) </a:documentation>
        <choice>
          <value>cm</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(centimetres) </a:documentation>
          <value>mm</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(millimetres) </a:documentation>
          <value>in</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(inches) </a:documentation>
          <value>lines</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">lines of text</a:documentation>
          <value>chars</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(characters) characters of text</a:documentation>
          <data type="Name"/>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.dimensions.attribute.quantity">
    <optional>
      <attribute name="quantity">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the length in the units specified</a:documentation>
        <ref name="tei_data.numeric"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.dimensions.attribute.extent">
    <optional>
      <attribute name="extent">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the size of the object concerned using a project-specific vocabulary combining
        quantity and units in a single string of words. </a:documentation>
        <ref name="tei_data.text"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.dimensions.attribute.precision">
    <optional>
      <attribute name="precision">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the precision of the values specified by the other attributes.</a:documentation>
        <ref name="tei_data.certainty"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.dimensions.attribute.scope">
    <optional>
      <attribute name="scope">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">where the measurement summarizes more than one observation, specifies the applicability
        of this measurement.
Sample values include: 1] all; 2] most; 3] range</a:documentation>
        <ref name="tei_data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.cReferencing.attributes">
    <ref name="tei_att.cReferencing.attribute.cRef"/>
  </define>
  <define name="tei_att.cReferencing.attribute.cRef">
    <optional>
      <attribute name="cRef">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(canonical reference) specifies the destination of the pointer by supplying a canonical reference from a
        scheme defined in a refsDecl element in the TEI header</a:documentation>
        <ref name="tei_data.text"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.datable.w3c.attributes">
    <ref name="tei_att.datable.w3c.attribute.when"/>
    <ref name="tei_att.datable.w3c.attribute.notBefore"/>
    <ref name="tei_att.datable.w3c.attribute.notAfter"/>
    <ref name="tei_att.datable.w3c.attribute.from"/>
    <ref name="tei_att.datable.w3c.attribute.to"/>
  </define>
  <define name="tei_att.datable.w3c.attribute.when">
    <optional>
      <attribute name="when">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the value of the date or time in a standard form,
      e.g. yyyy-mm-dd.</a:documentation>
        <ref name="tei_data.temporal.w3c"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.datable.w3c.attribute.notBefore">
    <optional>
      <attribute name="notBefore">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the earliest possible date for the event in
	  standard form, e.g. yyyy-mm-dd.</a:documentation>
        <ref name="tei_data.temporal.w3c"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.datable.w3c.attribute.notAfter">
    <optional>
      <attribute name="notAfter">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the latest possible date for the event in
	  standard form, e.g. yyyy-mm-dd.</a:documentation>
        <ref name="tei_data.temporal.w3c"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.datable.w3c.attribute.from">
    <optional>
      <attribute name="from">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the starting point of the period in standard form, e.g. yyyy-mm-dd.</a:documentation>
        <ref name="tei_data.temporal.w3c"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.datable.w3c.attribute.to">
    <optional>
      <attribute name="to">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the ending point of the period in standard
	  form, e.g. yyyy-mm-dd.</a:documentation>
        <ref name="tei_data.temporal.w3c"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.datable.attributes">
    <ref name="tei_att.datable.w3c.attributes"/>
    <ref name="tei_att.datable.iso.attributes"/>
    <ref name="tei_att.datable.custom.attributes"/>
    <ref name="tei_att.datable.attribute.calendar"/>
    <ref name="tei_att.datable.attribute.period"/>
  </define>
  <define name="tei_att.datable.attribute.calendar">
    <optional>
      <attribute name="calendar">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the system or calendar to which the date represented by the content of this
        element belongs.</a:documentation>
        <ref name="tei_data.pointer"/>
      </attribute>
    </optional>
  </define>
  <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="calendar-constraint-calendar">
    <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" context="tei:*[@calendar]">
      <sch:assert test="string-length(.) gt 0">
@calendar indicates the system or calendar to which the date represented by the content of this element
belongs, but this <sch:name/> element has no textual content.</sch:assert>
    </sch:rule>
  </pattern>
  <define name="tei_att.datable.attribute.period">
    <optional>
      <attribute name="period">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a pointer to some location defining a named
        period of time within which the datable item is understood to
        have occurred.</a:documentation>
        <ref name="tei_data.pointer"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.declarable.attributes">
    <ref name="tei_att.declarable.attribute.default"/>
  </define>
  <define name="tei_att.declarable.attribute.default">
    <optional>
      <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="default" a:defaultValue="false">
        <a:documentation>indicates whether or not this element is selected by default when
its parent is selected.</a:documentation>
        <choice>
          <value>true</value>
          <a:documentation>This element is selected if its parent is selected</a:documentation>
          <value>false</value>
          <a:documentation>This element can only be selected explicitly, unless it is the
only one of its kind, in which case it is selected if its parent is selected.</a:documentation>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.declaring.attributes">
    <ref name="tei_att.declaring.attribute.decls"/>
  </define>
  <define name="tei_att.declaring.attribute.decls">
    <optional>
      <attribute name="decls">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies one or more declarable elements within the
header, which are understood to apply to the element bearing this
attribute and its content.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="tei_data.pointer"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.fragmentable.attributes">
    <ref name="tei_att.fragmentable.attribute.part"/>
  </define>
  <define name="tei_att.fragmentable.attribute.part">
    <optional>
      <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="part" a:defaultValue="N">
        <a:documentation>specifies whether or not its parent element is fragmented
      in some way, typically by some other overlapping structure : for
      example a speech which is divided between two or more verse
      stanzas, a paragraph which is split across a page division, a
      verse line which is divided between two speakers.</a:documentation>
        <choice>
          <value>Y</value>
          <a:documentation> (yes) the element is fragmented in some (unspecified) respect</a:documentation>
          <value>N</value>
          <a:documentation> (no) either the element is not fragmented, or no claim is made as to its completeness.</a:documentation>
          <value>I</value>
          <a:documentation> (initial) this is the initial part of a fragmented element</a:documentation>
          <value>M</value>
          <a:documentation> (medial) this is a medial part of a fragmented element</a:documentation>
          <value>F</value>
          <a:documentation> (final) this is the final part of a fragmented element</a:documentation>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.responsibility.attributes">
    <ref name="tei_att.responsibility.attribute.cert"/>
    <ref name="tei_att.responsibility.attribute.resp"/>
  </define>
  <define name="tei_att.responsibility.attribute.cert">
    <optional>
      <attribute name="cert">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(certainty) signifies the degree of certainty associated with the intervention or interpretation.</a:documentation>
        <ref name="tei_data.certainty"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.responsibility.attribute.resp">
    <optional>
      <attribute name="resp">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsible party) indicates the agency responsible for the intervention or interpretation, for example an
        editor or transcriber.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="tei_data.pointer"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.editLike.attributes">
    <ref name="tei_att.dimensions.attributes"/>
    <ref name="tei_att.responsibility.attributes"/>
    <ref name="tei_att.editLike.attribute.evidence"/>
    <ref name="tei_att.editLike.attribute.source"/>
    <ref name="tei_att.editLike.attribute.instant"/>
  </define>
  <define name="tei_att.editLike.attribute.evidence">
    <optional>
      <attribute name="evidence">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the nature of the evidence supporting the reliability or accuracy of the
        intervention or interpretation.
Suggested values include: 1] internal; 2] external; 3] conjecture</a:documentation>
        <list>
          <oneOrMore>
            <choice>
              <value>internal</value>
              <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">there is internal evidence to support the intervention.</a:documentation>
              <value>external</value>
              <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">there is external evidence to support the intervention.</a:documentation>
              <value>conjecture</value>
              <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the intervention or interpretation has been made by the editor, cataloguer, or
            scholar on the basis of their expertise.</a:documentation>
              <data type="Name"/>
            </choice>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.editLike.attribute.source">
    <optional>
      <attribute name="source">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a list of one or more pointers indicating sources
      supporting the given  intervention or interpretation.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="tei_data.pointer"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.editLike.attribute.instant">
    <optional>
      <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="instant" a:defaultValue="false">
        <a:documentation>indicates whether this is an instant revision or not.</a:documentation>
        <ref name="tei_data.xTruthValue"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.global.attributes">
    <ref name="tei_att.global.attribute.xmlid"/>
    <ref name="tei_att.global.attribute.n"/>
    <ref name="tei_att.global.attribute.xmllang"/>
    <ref name="tei_att.global.attribute.rend"/>
    <ref name="tei_att.global.attribute.style"/>
    <ref name="tei_att.global.attribute.rendition"/>
    <ref name="tei_att.global.attribute.xmlbase"/>
    <ref name="tei_att.global.attribute.xmlspace"/>
  </define>
  <define name="tei_att.global.attribute.xmlid">
    <optional>
      <attribute name="xml:id">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) provides a unique identifier for the element bearing the attribute.</a:documentation>
        <data type="ID"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.global.attribute.n">
    <optional>
      <attribute name="n">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(number) gives a number (or other label) for an element, which is not necessarily unique within
        the document.</a:documentation>
        <ref name="tei_data.text"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.global.attribute.xmllang">
    <optional>
      <attribute name="xml:lang">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(language) indicates the language of the element content using a tag generated
        according to BCP 47. 
         </a:documentation>
        <ref name="tei_data.language"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.global.attribute.rend">
    <optional>
      <attribute name="rend">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(rendition) indicates how the element in question was rendered or presented in the source text.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="tei_data.word"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.global.attribute.style">
    <optional>
      <attribute name="style">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an expression in some formal style definition language
which defines the rendering or presentation
used for this element in the source text </a:documentation>
        <ref name="tei_data.text"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.global.attribute.rendition">
    <optional>
      <attribute name="rendition">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to a description of the rendering or presentation used for this element in the
        source text.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="tei_data.pointer"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.global.attribute.xmlbase">
    <optional>
      <attribute name="xml:base">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides a base URI reference with which applications can resolve relative URI
        references into absolute URI references.</a:documentation>
        <ref name="tei_data.pointer"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.global.attribute.xmlspace">
    <optional>
      <attribute name="xml:space">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">signals an intention about how white space should be 
      managed by  applications. </a:documentation>
        <choice>
          <value>default</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">signals that the application's default white-space processing modes are acceptable</a:documentation>
          <value>preserve</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the intent that applications preserve all white space</a:documentation>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.internetMedia.attributes">
    <ref name="tei_att.internetMedia.attribute.mimeType"/>
  </define>
  <define name="tei_att.internetMedia.attribute.mimeType">
    <optional>
      <attribute name="mimeType">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(MIME media type) specifies the applicable multimedia internet mail extension (MIME) media type</a:documentation>
        <list>
          <oneOrMore>
            <ref name="tei_data.word"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.naming.attributes">
    <ref name="tei_att.canonical.attributes"/>
    <ref name="tei_att.naming.attribute.role"/>
    <ref name="tei_att.naming.attribute.nymRef"/>
  </define>
  <define name="tei_att.naming.attribute.role">
    <optional>
      <attribute name="role">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">may be used to specify further information about the entity referenced by
this name, for example the occupation of a person, or the status of a place. </a:documentation>
        <ref name="tei_data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.naming.attribute.nymRef">
    <optional>
      <attribute name="nymRef">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(reference to the canonical name) provides a means of locating the canonical form
      (nym) of the names associated with the object
       named by
      the element bearing it.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="tei_data.pointer"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.placement.attributes">
    <ref name="tei_att.placement.attribute.place"/>
  </define>
  <define name="tei_att.placement.attribute.place">
    <optional>
      <attribute name="place">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies where this item is placed
Suggested values include: 1] below; 2] bottom; 3] margin; 4] top; 5] opposite; 6] overleaf; 7] above; 8] end; 9] inline; 10] inspace</a:documentation>
        <list>
          <oneOrMore>
            <choice>
              <value>below</value>
              <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">below the line</a:documentation>
              <value>bottom</value>
              <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">at the foot of the page</a:documentation>
              <value>margin</value>
              <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">in the margin (left, right, or both)</a:documentation>
              <value>top</value>
              <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">at the top of the page</a:documentation>
              <value>opposite</value>
              <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">on the opposite, i.e. facing, page</a:documentation>
              <value>overleaf</value>
              <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">on the other side of the leaf</a:documentation>
              <value>above</value>
              <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">above the line</a:documentation>
              <value>end</value>
              <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">at the end of e.g. chapter or volume.</a:documentation>
              <value>inline</value>
              <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">within the body of the text.</a:documentation>
              <value>inspace</value>
              <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"> in a predefined space, for example left by an earlier scribe.</a:documentation>
              <data type="Name"/>
            </choice>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.typed.attributes">
    <ref name="tei_att.typed.attribute.type"/>
    <ref name="tei_att.typed.attribute.subtype"/>
  </define>
  <define name="tei_att.typed.attribute.type">
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the element in some sense, using any convenient
 classification scheme or typology.</a:documentation>
        <ref name="tei_data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.typed.attribute.subtype">
    <optional>
      <attribute name="subtype">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides a sub-categorization of the element, if needed</a:documentation>
        <ref name="tei_data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.pointing.attributes">
    <ref name="tei_att.pointing.attribute.targetLang"/>
    <ref name="tei_att.pointing.attribute.target"/>
    <ref name="tei_att.pointing.attribute.evaluate"/>
  </define>
  <define name="tei_att.pointing.attribute.targetLang">
    <optional>
      <attribute name="targetLang">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the language of the content to be found at the destination referenced by target, using a language tag generated
        according to BCP 47.</a:documentation>
        <ref name="tei_data.language"/>
      </attribute>
    </optional>
  </define>
  <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="targetLang-constraint-targetLang">
    <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" context="tei:*[not(self::tei:schemaSpec)][@targetLang]">
      <sch:assert test="count(@target)">@targetLang can only be used if @target is specified.</sch:assert>
    </sch:rule>
  </pattern>
  <define name="tei_att.pointing.attribute.target">
    <optional>
      <attribute name="target">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the destination of the reference by supplying one or more URI References</a:documentation>
        <list>
          <oneOrMore>
            <ref name="tei_data.pointer"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.pointing.attribute.evaluate">
    <optional>
      <attribute name="evaluate">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the intended meaning when the target of a
      pointer is itself a pointer.</a:documentation>
        <choice>
          <value>all</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">if the element pointed to is itself a pointer, then
	  the target of that pointer will be taken, and so on, until
	  an element is found which is not a pointer.</a:documentation>
          <value>one</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">if the element pointed to is itself a pointer, then
	  its target (whether a pointer or not) is taken as the target
	  of this pointer.</a:documentation>
          <value>none</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">no further evaluation of targets is carried out
	  beyond that needed to find the element specified in the
	  pointer's target.</a:documentation>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.sortable.attributes">
    <ref name="tei_att.sortable.attribute.sortKey"/>
  </define>
  <define name="tei_att.sortable.attribute.sortKey">
    <optional>
      <attribute name="sortKey">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the sort key for this element in an index, list or group which contains it.</a:documentation>
        <ref name="tei_data.word"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_model.nameLike.agent">
    <choice>
      <ref name="tei_name"/>
      <ref name="tei_persName"/>
    </choice>
  </define>
  <define name="tei_model.nameLike.agent_alternation">
    <choice>
      <ref name="tei_name"/>
      <ref name="tei_persName"/>
    </choice>
  </define>
  <define name="tei_model.nameLike.agent_sequence">
    <ref name="tei_name"/>
    <ref name="tei_persName"/>
  </define>
  <define name="tei_model.nameLike.agent_sequenceOptional">
    <optional>
      <ref name="tei_name"/>
    </optional>
    <optional>
      <ref name="tei_persName"/>
    </optional>
  </define>
  <define name="tei_model.nameLike.agent_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="tei_name"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="tei_persName"/>
    </zeroOrMore>
  </define>
  <define name="tei_model.nameLike.agent_sequenceRepeatable">
    <oneOrMore>
      <ref name="tei_name"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="tei_persName"/>
    </oneOrMore>
  </define>
  <define name="tei_model.hiLike">
    <choice>
      <ref name="tei_hi"/>
    </choice>
  </define>
  <define name="tei_model.hiLike_alternation">
    <choice>
      <ref name="tei_hi"/>
    </choice>
  </define>
  <define name="tei_model.hiLike_sequence">
    <ref name="tei_hi"/>
  </define>
  <define name="tei_model.hiLike_sequenceOptional">
    <optional>
      <ref name="tei_hi"/>
    </optional>
  </define>
  <define name="tei_model.hiLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="tei_hi"/>
    </zeroOrMore>
  </define>
  <define name="tei_model.hiLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="tei_hi"/>
    </oneOrMore>
  </define>
  <define name="tei_model.highlighted">
    <choice>
      <ref name="tei_model.hiLike"/>
    </choice>
  </define>
  <define name="tei_model.dateLike">
    <choice>
      <ref name="tei_date"/>
    </choice>
  </define>
  <define name="tei_model.dateLike_alternation">
    <choice>
      <ref name="tei_date"/>
    </choice>
  </define>
  <define name="tei_model.dateLike_sequence">
    <ref name="tei_date"/>
  </define>
  <define name="tei_model.dateLike_sequenceOptional">
    <optional>
      <ref name="tei_date"/>
    </optional>
  </define>
  <define name="tei_model.dateLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="tei_date"/>
    </zeroOrMore>
  </define>
  <define name="tei_model.dateLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="tei_date"/>
    </oneOrMore>
  </define>
  <define name="tei_model.ptrLike">
    <choice>
      <ref name="tei_ref"/>
    </choice>
  </define>
  <define name="tei_model.gLike">
    <notAllowed/>
  </define>
  <define name="tei_model.biblLike">
    <choice>
      <ref name="tei_relationGrp"/>
    </choice>
  </define>
  <define name="tei_model.biblLike_alternation">
    <choice>
      <ref name="tei_relationGrp"/>
    </choice>
  </define>
  <define name="tei_model.biblLike_sequence">
    <ref name="tei_relationGrp"/>
  </define>
  <define name="tei_model.biblLike_sequenceOptional">
    <optional>
      <ref name="tei_relationGrp"/>
    </optional>
  </define>
  <define name="tei_model.biblLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="tei_relationGrp"/>
    </zeroOrMore>
  </define>
  <define name="tei_model.biblLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="tei_relationGrp"/>
    </oneOrMore>
  </define>
  <define name="tei_model.headLike">
    <notAllowed/>
  </define>
  <define name="tei_model.headLike_alternation">
    <notAllowed/>
  </define>
  <define name="tei_model.headLike_sequence">
    <empty/>
  </define>
  <define name="tei_model.headLike_sequenceOptional">
    <empty/>
  </define>
  <define name="tei_model.headLike_sequenceOptionalRepeatable">
    <empty/>
  </define>
  <define name="tei_model.headLike_sequenceRepeatable">
    <notAllowed/>
  </define>
  <define name="tei_model.labelLike">
    <notAllowed/>
  </define>
  <define name="tei_model.labelLike_alternation">
    <notAllowed/>
  </define>
  <define name="tei_model.labelLike_sequence">
    <empty/>
  </define>
  <define name="tei_model.labelLike_sequenceOptional">
    <empty/>
  </define>
  <define name="tei_model.labelLike_sequenceOptionalRepeatable">
    <empty/>
  </define>
  <define name="tei_model.labelLike_sequenceRepeatable">
    <notAllowed/>
  </define>
  <define name="tei_model.listLike">
    <choice>
      <ref name="tei_listEvent"/>
      <ref name="tei_listPerson"/>
    </choice>
  </define>
  <define name="tei_model.listLike_alternation">
    <choice>
      <ref name="tei_listEvent"/>
      <ref name="tei_listPerson"/>
    </choice>
  </define>
  <define name="tei_model.listLike_sequence">
    <ref name="tei_listEvent"/>
    <ref name="tei_listPerson"/>
  </define>
  <define name="tei_model.listLike_sequenceOptional">
    <optional>
      <ref name="tei_listEvent"/>
    </optional>
    <optional>
      <ref name="tei_listPerson"/>
    </optional>
  </define>
  <define name="tei_model.listLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="tei_listEvent"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="tei_listPerson"/>
    </zeroOrMore>
  </define>
  <define name="tei_model.listLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="tei_listEvent"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="tei_listPerson"/>
    </oneOrMore>
  </define>
  <define name="tei_model.noteLike">
    <choice>
      <ref name="tei_note"/>
    </choice>
  </define>
  <define name="tei_model.pLike">
    <choice>
      <ref name="tei_p"/>
    </choice>
  </define>
  <define name="tei_model.pLike_alternation">
    <choice>
      <ref name="tei_p"/>
    </choice>
  </define>
  <define name="tei_model.pLike_sequence">
    <ref name="tei_p"/>
  </define>
  <define name="tei_model.pLike_sequenceOptional">
    <optional>
      <ref name="tei_p"/>
    </optional>
  </define>
  <define name="tei_model.pLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="tei_p"/>
    </zeroOrMore>
  </define>
  <define name="tei_model.pLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="tei_p"/>
    </oneOrMore>
  </define>
  <define name="tei_model.divPart">
    <choice>
      <ref name="tei_model.pLike"/>
    </choice>
  </define>
  <define name="tei_model.placeNamePart">
    <choice>
      <ref name="tei_placeName"/>
      <ref name="tei_country"/>
      <ref name="tei_settlement"/>
    </choice>
  </define>
  <define name="tei_model.placeNamePart_alternation">
    <choice>
      <ref name="tei_placeName"/>
      <ref name="tei_country"/>
      <ref name="tei_settlement"/>
    </choice>
  </define>
  <define name="tei_model.placeNamePart_sequence">
    <ref name="tei_placeName"/>
    <ref name="tei_country"/>
    <ref name="tei_settlement"/>
  </define>
  <define name="tei_model.placeNamePart_sequenceOptional">
    <optional>
      <ref name="tei_placeName"/>
    </optional>
    <optional>
      <ref name="tei_country"/>
    </optional>
    <optional>
      <ref name="tei_settlement"/>
    </optional>
  </define>
  <define name="tei_model.placeNamePart_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="tei_placeName"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="tei_country"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="tei_settlement"/>
    </zeroOrMore>
  </define>
  <define name="tei_model.placeNamePart_sequenceRepeatable">
    <oneOrMore>
      <ref name="tei_placeName"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="tei_country"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="tei_settlement"/>
    </oneOrMore>
  </define>
  <define name="tei_model.placeStateLike">
    <choice>
      <ref name="tei_model.placeNamePart"/>
    </choice>
  </define>
  <define name="tei_model.placeStateLike_alternation">
    <choice>
      <ref name="tei_model.placeNamePart_alternation"/>
    </choice>
  </define>
  <define name="tei_model.placeStateLike_sequence">
    <ref name="tei_model.placeNamePart_sequence"/>
  </define>
  <define name="tei_model.placeStateLike_sequenceOptional">
    <optional>
      <ref name="tei_model.placeNamePart_sequenceOptional"/>
    </optional>
  </define>
  <define name="tei_model.placeStateLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="tei_model.placeNamePart_sequenceOptionalRepeatable"/>
    </zeroOrMore>
  </define>
  <define name="tei_model.placeStateLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="tei_model.placeNamePart_sequenceRepeatable"/>
    </oneOrMore>
  </define>
  <define name="tei_model.nameLike">
    <choice>
      <ref name="tei_model.nameLike.agent"/>
      <ref name="tei_model.placeStateLike"/>
      <ref name="tei_idno"/>
      <ref name="tei_model.persNamePart"/>
    </choice>
  </define>
  <define name="tei_model.nameLike_alternation">
    <choice>
      <ref name="tei_model.nameLike.agent_alternation"/>
      <ref name="tei_model.placeStateLike_alternation"/>
      <ref name="tei_idno"/>
      <ref name="tei_model.persNamePart_alternation"/>
    </choice>
  </define>
  <define name="tei_model.nameLike_sequence">
    <ref name="tei_model.nameLike.agent_sequence"/>
    <ref name="tei_model.placeStateLike_sequence"/>
    <ref name="tei_idno"/>
    <ref name="tei_model.persNamePart_sequence"/>
  </define>
  <define name="tei_model.nameLike_sequenceOptional">
    <optional>
      <ref name="tei_model.nameLike.agent_sequenceOptional"/>
    </optional>
    <optional>
      <ref name="tei_model.placeStateLike_sequenceOptional"/>
    </optional>
    <optional>
      <ref name="tei_idno"/>
    </optional>
    <optional>
      <ref name="tei_model.persNamePart_sequenceOptional"/>
    </optional>
  </define>
  <define name="tei_model.nameLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="tei_model.nameLike.agent_sequenceOptionalRepeatable"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="tei_model.placeStateLike_sequenceOptionalRepeatable"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="tei_idno"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="tei_model.persNamePart_sequenceOptionalRepeatable"/>
    </zeroOrMore>
  </define>
  <define name="tei_model.nameLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="tei_model.nameLike.agent_sequenceRepeatable"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="tei_model.placeStateLike_sequenceRepeatable"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="tei_idno"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="tei_model.persNamePart_sequenceRepeatable"/>
    </oneOrMore>
  </define>
  <define name="tei_model.global">
    <choice>
      <ref name="tei_model.noteLike"/>
    </choice>
  </define>
  <define name="tei_model.pPart.data">
    <choice>
      <ref name="tei_model.dateLike"/>
      <ref name="tei_model.nameLike"/>
    </choice>
  </define>
  <define name="tei_model.inter">
    <choice>
      <ref name="tei_model.biblLike"/>
      <ref name="tei_model.labelLike"/>
      <ref name="tei_model.listLike"/>
    </choice>
  </define>
  <define name="tei_model.phrase">
    <choice>
      <ref name="tei_model.highlighted"/>
      <ref name="tei_model.ptrLike"/>
      <ref name="tei_model.pPart.data"/>
    </choice>
  </define>
  <define name="tei_att.personal.attributes">
    <ref name="tei_att.naming.attributes"/>
    <ref name="tei_att.personal.attribute.full"/>
    <ref name="tei_att.personal.attribute.sort"/>
  </define>
  <define name="tei_att.personal.attribute.full">
    <optional>
      <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="full" a:defaultValue="yes">
        <a:documentation>indicates whether the name component is given in full, as an
abbreviation or simply as an initial.</a:documentation>
        <choice>
          <value>yes</value>
          <a:documentation>the name component is spelled out in full.</a:documentation>
          <value>abb</value>
          <a:documentation>(abbreviated) the name component is given in an abbreviated form.</a:documentation>
          <value>init</value>
          <a:documentation>(initial letter) the name component is indicated only by
one initial.</a:documentation>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.personal.attribute.sort">
    <optional>
      <attribute name="sort">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the sort order of the name component in relation
to others within the name.</a:documentation>
        <ref name="tei_data.count"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_p">
    <element name="p">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(paragraph) marks paragraphs in prose. [3.1.  7.2.5. ]</a:documentation>
      <ref name="tei_macro.paraContent"/>
      <ref name="tei_att.global.attributes"/>
      <ref name="tei_att.declaring.attributes"/>
      <ref name="tei_att.fragmentable.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="tei_hi">
    <element name="hi">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(highlighted) marks a word or phrase as graphically distinct from the
        surrounding text, for reasons concerning which no claim is
        made.  [3.3.2.2.  3.3.2. ]</a:documentation>
      <ref name="tei_macro.paraContent"/>
      <ref name="tei_att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="tei_name">
    <element name="name">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(name, proper noun) contains a proper noun or noun phrase. [3.5.1. ]</a:documentation>
      <ref name="tei_macro.phraseSeq"/>
      <ref name="tei_att.global.attributes"/>
      <ref name="tei_att.personal.attributes"/>
      <ref name="tei_att.datable.attributes"/>
      <ref name="tei_att.editLike.attributes"/>
      <ref name="tei_att.typed.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="tei_date">
    <element name="date">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a date in any format. [3.5.4.  2.2.4.  2.5.  3.11.2.3.  15.2.3.  13.3.6. ]</a:documentation>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="tei_model.gLike"/>
          <ref name="tei_model.phrase"/>
          <ref name="tei_model.global"/>
        </choice>
      </zeroOrMore>
      <ref name="tei_att.global.attributes"/>
      <ref name="tei_att.datable.attributes"/>
      <ref name="tei_att.editLike.attributes"/>
      <ref name="tei_att.typed.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="tei_ref">
    <element name="ref">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(reference) defines a reference to another location, possibly modified by additional text or comment. [3.6.  16.1. ]</a:documentation>
      <ref name="tei_macro.paraContent"/>
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="ref-constraint-refAtts">
        <rule context="tei:ref">
          <report xmlns:rng="http://relaxng.org/ns/structure/1.0" test="@target and @cRef">Only one of the
	attributes @target' and @cRef' may be supplied on <name/>
               </report>
        </rule>
      </pattern>
      <ref name="tei_att.global.attributes"/>
      <ref name="tei_att.pointing.attributes"/>
      <ref name="tei_att.internetMedia.attributes"/>
      <ref name="tei_att.typed.attributes"/>
      <ref name="tei_att.declaring.attributes"/>
      <ref name="tei_att.cReferencing.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="tei_note">
    <element name="note">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a note or annotation. [3.8.1.  2.2.6.  3.11.2.7.  9.3.5.4. ]</a:documentation>
      <ref name="tei_macro.specialPara"/>
      <ref name="tei_att.global.attributes"/>
      <ref name="tei_att.placement.attributes"/>
      <ref name="tei_att.pointing.attributes"/>
      <ref name="tei_att.responsibility.attributes"/>
      <ref name="tei_att.typed.attributes"/>
      <optional>
        <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="anchored" a:defaultValue="true">
          <a:documentation>indicates whether the copy text shows the exact place of reference for the note.</a:documentation>
          <ref name="tei_data.truthValue"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="targetEnd">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to the end of the span to which the note is attached, if the note is not embedded
        in the text at that point.</a:documentation>
          <list>
            <oneOrMore>
              <ref name="tei_data.pointer"/>
            </oneOrMore>
          </list>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="tei_idno">
    <element name="idno">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) supplies any form of identifier used to identify some object,
  such as a bibliographic item, a person, a title, an organization,
  etc. in a standardized way. [2.2.4.  2.2.5.  3.11.2.3. ]</a:documentation>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="tei_model.gLike"/>
          <ref name="tei_idno"/>
        </choice>
      </zeroOrMore>
      <ref name="tei_att.global.attributes"/>
      <ref name="tei_att.sortable.attributes"/>
      <optional>
        <attribute name="type">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">categorizes the identifier, for example as an ISBN, Social
      Security number, etc. </a:documentation>
          <ref name="tei_data.enumerated"/>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="tei_att.datable.custom.attributes">
    <ref name="tei_att.datable.custom.attribute.when-custom"/>
    <ref name="tei_att.datable.custom.attribute.notBefore-custom"/>
    <ref name="tei_att.datable.custom.attribute.notAfter-custom"/>
    <ref name="tei_att.datable.custom.attribute.from-custom"/>
    <ref name="tei_att.datable.custom.attribute.to-custom"/>
    <ref name="tei_att.datable.custom.attribute.datingPoint"/>
    <ref name="tei_att.datable.custom.attribute.datingMethod"/>
  </define>
  <define name="tei_att.datable.custom.attribute.when-custom">
    <optional>
      <attribute name="when-custom">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the value of a date or time in some standard form.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="tei_data.word"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.datable.custom.attribute.notBefore-custom">
    <optional>
      <attribute name="notBefore-custom">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the earliest possible date for the event in some custom standard form.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="tei_data.word"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.datable.custom.attribute.notAfter-custom">
    <optional>
      <attribute name="notAfter-custom">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the latest possible date for the event in some custom standard form.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="tei_data.word"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.datable.custom.attribute.from-custom">
    <optional>
      <attribute name="from-custom">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the starting point of the period in some standard form.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="tei_data.word"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.datable.custom.attribute.to-custom">
    <optional>
      <attribute name="to-custom">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the ending point of the period in some standard form.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="tei_data.word"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.datable.custom.attribute.datingPoint">
    <optional>
      <attribute name="datingPoint">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a pointer to some location defining a named point in time with reference to which the datable item is understood to have occurred</a:documentation>
        <ref name="tei_data.pointer"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.datable.custom.attribute.datingMethod">
    <optional>
      <attribute name="datingMethod">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a pointer to a calendar element or other means of interpreting the values of the custom dating attributes.</a:documentation>
        <ref name="tei_data.pointer"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_model.persNamePart">
    <choice>
      <ref name="tei_surname"/>
      <ref name="tei_forename"/>
      <ref name="tei_addName"/>
    </choice>
  </define>
  <define name="tei_model.persNamePart_alternation">
    <choice>
      <ref name="tei_surname"/>
      <ref name="tei_forename"/>
      <ref name="tei_addName"/>
    </choice>
  </define>
  <define name="tei_model.persNamePart_sequence">
    <ref name="tei_surname"/>
    <ref name="tei_forename"/>
    <ref name="tei_addName"/>
  </define>
  <define name="tei_model.persNamePart_sequenceOptional">
    <optional>
      <ref name="tei_surname"/>
    </optional>
    <optional>
      <ref name="tei_forename"/>
    </optional>
    <optional>
      <ref name="tei_addName"/>
    </optional>
  </define>
  <define name="tei_model.persNamePart_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="tei_surname"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="tei_forename"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="tei_addName"/>
    </zeroOrMore>
  </define>
  <define name="tei_model.persNamePart_sequenceRepeatable">
    <oneOrMore>
      <ref name="tei_surname"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="tei_forename"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="tei_addName"/>
    </oneOrMore>
  </define>
  <define name="tei_att.datable.iso.attributes">
    <ref name="tei_att.datable.iso.attribute.when-iso"/>
    <ref name="tei_att.datable.iso.attribute.notBefore-iso"/>
    <ref name="tei_att.datable.iso.attribute.notAfter-iso"/>
    <ref name="tei_att.datable.iso.attribute.from-iso"/>
    <ref name="tei_att.datable.iso.attribute.to-iso"/>
  </define>
  <define name="tei_att.datable.iso.attribute.when-iso">
    <optional>
      <attribute name="when-iso">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the value of a date or time in a standard form.</a:documentation>
        <ref name="tei_data.temporal.iso"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.datable.iso.attribute.notBefore-iso">
    <optional>
      <attribute name="notBefore-iso">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the earliest possible date for the event in standard form, e.g. yyyy-mm-dd.</a:documentation>
        <ref name="tei_data.temporal.iso"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.datable.iso.attribute.notAfter-iso">
    <optional>
      <attribute name="notAfter-iso">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the latest possible date for the event in standard form, e.g. yyyy-mm-dd.</a:documentation>
        <ref name="tei_data.temporal.iso"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.datable.iso.attribute.from-iso">
    <optional>
      <attribute name="from-iso">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the starting point of the period in standard form.</a:documentation>
        <ref name="tei_data.temporal.iso"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_att.datable.iso.attribute.to-iso">
    <optional>
      <attribute name="to-iso">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the ending point of the period in standard form.</a:documentation>
        <ref name="tei_data.temporal.iso"/>
      </attribute>
    </optional>
  </define>
  <define name="tei_persName">
    <element name="persName">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(personal name) contains a proper noun or proper-noun phrase referring to a
  person, possibly including one or more of
  the person's forenames, surnames, honorifics, added names, etc. [13.2.1. ]</a:documentation>
      <ref name="tei_macro.phraseSeq"/>
      <ref name="tei_att.global.attributes"/>
      <ref name="tei_att.datable.attributes"/>
      <ref name="tei_att.editLike.attributes"/>
      <ref name="tei_att.personal.attributes"/>
      <ref name="tei_att.typed.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="tei_surname">
    <element name="surname" ns="http://www.tei-c.org/ns/1.0">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a family (inherited) name, as opposed to a given, baptismal, or nick name. [13.2.1. ]</a:documentation>
      <ref name="tei_macro.phraseSeq"/>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the element in some sense, using any convenient
 classification scheme or typology.</a:documentation>
        <choice>
          <value>married</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
          <value>maiden</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
        </choice>
      </attribute>
      <optional>
        <attribute name="subtype">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides a sub-categorization of the element, if needed</a:documentation>
          <choice>
            <value>altSpelling</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
          </choice>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="tei_forename">
    <element name="forename" ns="http://www.tei-c.org/ns/1.0">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a forename, given or baptismal name. [13.2.1. ]</a:documentation>
      <ref name="tei_macro.phraseSeq"/>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
        <choice>
          <value>first</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
          <value>middle</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
        </choice>
      </attribute>
      <empty/>
    </element>
  </define>
  <define name="tei_addName">
    <element name="addName" ns="http://www.tei-c.org/ns/1.0">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(additional name) contains an additional name component, such as a nickname, epithet, or alias, or any other descriptive phrase used within a personal
    name. [13.2.1. ]</a:documentation>
      <ref name="tei_macro.phraseSeq"/>
      <optional>
        <attribute name="type">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
          <choice>
            <value>nick</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
          </choice>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="tei_placeName">
    <element name="placeName">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an absolute or relative place name.  [13.2.3. ]</a:documentation>
      <ref name="tei_macro.phraseSeq"/>
      <ref name="tei_att.datable.attributes"/>
      <ref name="tei_att.editLike.attributes"/>
      <ref name="tei_att.global.attributes"/>
      <ref name="tei_att.personal.attributes"/>
      <ref name="tei_att.typed.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="tei_country">
    <element name="country">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(country) contains the name of a geo-political unit, such as a nation, country, colony, or
    commonwealth, larger than or administratively superior to a region and smaller than a bloc. [13.2.3. ]</a:documentation>
      <ref name="tei_macro.phraseSeq"/>
      <ref name="tei_att.global.attributes"/>
      <ref name="tei_att.naming.attributes"/>
      <ref name="tei_att.typed.attributes"/>
      <ref name="tei_att.datable.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="tei_settlement">
    <element name="settlement">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains the name of a settlement such as a city, town, or village identified as a single geo-political or administrative unit. [13.2.3. ]</a:documentation>
      <ref name="tei_macro.phraseSeq"/>
      <ref name="tei_att.global.attributes"/>
      <ref name="tei_att.naming.attributes"/>
      <ref name="tei_att.typed.attributes"/>
      <ref name="tei_att.datable.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="tei_birth">
    <element name="birth" ns="http://www.tei-c.org/ns/1.0">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(birth) contains information about a person's birth, such as its date and place. [15.2.2. ]</a:documentation>
      <ref name="tei_macro.phraseSeq"/>
      <ref name="tei_att.datable.w3c.attribute.when"/>
      <ref name="tei_att.datable.w3c.attribute.notBefore"/>
      <ref name="tei_att.datable.w3c.attribute.notAfter"/>
      <empty/>
    </element>
  </define>
  <define name="tei_death">
    <element name="death" ns="http://www.tei-c.org/ns/1.0">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(death) contains information about a person's death, such as its date and place. [15.2.2. ]</a:documentation>
      <ref name="tei_macro.phraseSeq"/>
      <ref name="tei_att.datable.w3c.attribute.when"/>
      <ref name="tei_att.datable.w3c.attribute.notBefore"/>
      <ref name="tei_att.datable.w3c.attribute.notAfter"/>
      <empty/>
    </element>
  </define>
  <define name="tei_education">
    <element name="education" ns="http://www.tei-c.org/ns/1.0">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a description of the educational experience of a person. [15.2.2. ]</a:documentation>
      <empty/>
      <attribute name="key">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
        <choice>
          <value>MS</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">mechanically schooled</a:documentation>
          <value>GS</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">grammatically schooled</a:documentation>
          <value>unknown</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">unknown</a:documentation>
        </choice>
      </attribute>
      <empty/>
    </element>
  </define>
  <define name="tei_event">
    <element name="event" ns="http://www.tei-c.org/ns/1.0">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(event) contains data relating to any kind of significant event associated with a person, place, or organization.</a:documentation>
      <group>
        <zeroOrMore>
          <ref name="tei_model.headLike"/>
        </zeroOrMore>
        <choice>
          <group>
            <oneOrMore>
              <ref name="tei_model.pLike"/>
            </oneOrMore>
          </group>
          <group>
            <oneOrMore>
              <ref name="tei_model.labelLike"/>
            </oneOrMore>
          </group>
        </choice>
        <zeroOrMore>
          <choice>
            <ref name="tei_model.noteLike"/>
            <ref name="tei_model.biblLike"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="tei_event"/>
        </zeroOrMore>
      </group>
      <ref name="tei_att.datable.w3c.attributes"/>
      <optional>
        <attribute name="whereFrom">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
          <ref name="tei_id.place.pattern"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="whereTo">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
          <ref name="tei_id.place.pattern"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
          <text/>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="tei_faith">
    <element name="faith" ns="http://www.tei-c.org/ns/1.0">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the faith, religion, or belief set of a person.</a:documentation>
      <empty/>
      <attribute name="key">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
        <choice>
          <value>RC</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">roman catholic</a:documentation>
          <value>unknwon</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">unknown</a:documentation>
        </choice>
      </attribute>
      <empty/>
    </element>
  </define>
  <define name="tei_listEvent">
    <element name="listEvent">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(list of events) contains a list of descriptions, each of which provides information
    about an identifiable event. </a:documentation>
      <group>
        <zeroOrMore>
          <ref name="tei_model.headLike"/>
        </zeroOrMore>
        <oneOrMore>
          <choice>
            <ref name="tei_event"/>
            <ref name="tei_listEvent"/>
          </choice>
        </oneOrMore>
        <zeroOrMore>
          <choice>
            <ref name="tei_relation"/>
            <ref name="tei_relationGrp"/>
          </choice>
        </zeroOrMore>
      </group>
      <ref name="tei_att.global.attributes"/>
      <ref name="tei_att.typed.attributes"/>
      <ref name="tei_att.declarable.attributes"/>
      <ref name="tei_att.sortable.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="tei_listPerson">
    <element name="listPerson" ns="http://www.tei-c.org/ns/1.0">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(list of persons) contains a list of descriptions, each of which provides information about an identifiable
    person or a group of people, for example the participants in a language interaction, or the
    people referred to in a historical source.  [13.3.2.  15.2.  2.4.  15.3.2. ]</a:documentation>
      <oneOrMore>
        <ref name="tei_person"/>
      </oneOrMore>
      <ref name="tei_relationGrp"/>
    </element>
  </define>
  <define name="tei_occupation">
    <element name="occupation" ns="http://www.tei-c.org/ns/1.0">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an informal description of a person's trade, profession or occupation. [15.2.2. ]</a:documentation>
      <ref name="tei_macro.phraseSeq"/>
      <attribute name="key">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
        <choice>
          <value>1</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">housewife</a:documentation>
          <value>2</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">manual</a:documentation>
          <value>3</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">semi-skilled</a:documentation>
          <value>4</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">skilled</a:documentation>
          <value>5</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">professional</a:documentation>
        </choice>
      </attribute>
      <optional>
        <attribute name="scheme">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the classification system or taxonomy in use by supplying the identifier of a taxonomy element typically but not necessarily elsewhere in the
                current document header.</a:documentation>
          <ref name="tei_data.pointer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="code">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies an occupation code defined within the classification system or taxonomy defined by the scheme
                attribute.</a:documentation>
          <ref name="tei_data.pointer"/>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="tei_relationGrp">
    <element name="relationGrp">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(relation group) provides information about relationships identified amongst people, places, and
    organizations, either informally as prose or as formally expressed relation links.  [15.2.2. ]</a:documentation>
      <choice>
        <oneOrMore>
          <ref name="tei_model.pLike"/>
        </oneOrMore>
        <oneOrMore>
          <ref name="tei_relation"/>
        </oneOrMore>
      </choice>
      <ref name="tei_att.global.attributes"/>
      <ref name="tei_att.typed.attributes"/>
      <ref name="tei_att.sortable.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="tei_person">
    <element name="person" ns="http://www.tei-c.org/ns/1.0">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides information about an identifiable individual, for example a participant in a language interaction, or a person referred to in a
        historical source. [15.2.2. ]</a:documentation>
      <ref name="tei_persName"/>
      <ref name="tei_birth"/>
      <ref name="tei_death"/>
      <ref name="tei_education"/>
      <oneOrMore>
        <ref name="tei_occupation"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="tei_residence"/>
      </oneOrMore>
      <ref name="tei_sex"/>
      <ref name="tei_socecStatus"/>
      <ref name="tei_faith"/>
      <ref name="tei_listEvent"/>
      <attribute name="xml:id">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
        <ref name="tei_id.person.pattern"/>
      </attribute>
      <empty/>
    </element>
  </define>
  <define name="tei_relation">
    <element name="relation" ns="http://www.tei-c.org/ns/1.0">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(relationship) describes any kind of relationship or linkage amongst a
  specified group of objects, places, events or people. [15.2.2. ]</a:documentation>
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="relation-constraint-activemutual">
        <rule context="tei:relation">
          <report xmlns:rng="http://relaxng.org/ns/structure/1.0" test="@active and @mutual">Only one of the attributes
@active and @mutual may be supplied</report>
        </rule>
      </pattern>
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="relation-constraint-activepassive">
        <rule context="tei:relation">
          <report xmlns:rng="http://relaxng.org/ns/structure/1.0" test="@passive and not(@active)">the attribute 'passive'
	may be supplied only if the attribute 'active' is
	supplied</report>
        </rule>
      </pattern>
      <ref name="tei_att.datable.w3c.attributes"/>
      <choice>
        <optional>
          <attribute name="active">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the active participants in a non-mutual relationship, or all the participants in a mutual
                    one.</a:documentation>
            <list>
              <oneOrMore>
                <ref name="tei_data.pointer"/>
              </oneOrMore>
            </list>
          </attribute>
        </optional>
        <optional>
          <attribute name="mutual">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a list of participants amongst all of whom the relationship holds equally.</a:documentation>
            <list>
              <oneOrMore>
                <ref name="tei_data.pointer"/>
              </oneOrMore>
            </list>
          </attribute>
        </optional>
      </choice>
      <attribute name="name">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a name for the kind of relationship of which this is an instance.</a:documentation>
        <choice>
          <value>spouse</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">mutual relation between two people</a:documentation>
          <value>childOf</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">directed relation between the active child and the passive parents</a:documentation>
        </choice>
      </attribute>
      <optional>
        <attribute name="passive">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the passive participants in a non-mutual relationship.</a:documentation>
          <list>
            <oneOrMore>
              <ref name="tei_data.pointer"/>
            </oneOrMore>
          </list>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="tei_residence">
    <element name="residence" ns="http://www.tei-c.org/ns/1.0">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(residence) describes a person's present or past places of residence. [15.2.2. ]</a:documentation>
      <ref name="tei_macro.phraseSeq"/>
      <ref name="tei_att.datable.w3c.attributes"/>
      <optional>
        <attribute name="key">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
          <ref name="tei_id.place.pattern"/>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="tei_sex">
    <element name="sex" ns="http://www.tei-c.org/ns/1.0">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the sex of a person.</a:documentation>
      <empty/>
      <attribute name="value">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a coded value for sex</a:documentation>
        <ref name="tei_data.sex"/>
      </attribute>
      <empty/>
    </element>
  </define>
  <define name="tei_socecStatus">
    <element name="socecStatus" ns="http://www.tei-c.org/ns/1.0">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(socio-economic status) contains an informal description of a person's perceived social or economic status. [15.2.2. ]</a:documentation>
      <empty/>
      <attribute name="key">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
        <choice>
          <value>LC</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">lower class</a:documentation>
          <value>MC</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">middle class</a:documentation>
          <value>UC</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">upper class</a:documentation>
          <value>unknown</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">unknown</a:documentation>
        </choice>
      </attribute>
      <optional>
        <attribute name="scheme">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the classification system or taxonomy in use.</a:documentation>
          <ref name="tei_data.pointer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="code">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies a status code defined within the classification system or taxonomy defined by the scheme attribute.</a:documentation>
          <ref name="tei_data.pointer"/>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <start>
    <choice>
      <ref name="tei_listPerson"/>
    </choice>
  </start>
</grammar>
